---
http_interactions:
- request:
    method: post
    uri: https://demo.docusign.net/restapi/v2/accounts/<%= Philographer.configuration.account_id %>/envelopes
    body:
      encoding: US-ASCII
      string: ! '{"status":"sent","templateId":"2912c004-7aea-4305-8ec7-3e58ac444b30","templateRoles":[{"email":"test@test.com","name":"Jon
        Doe","roleName":"mySigner"}]}'
    headers:
      X-Docusign-Authentication:
      - ! '{"Username":"<%= Philographer.configuration.username %>","Password":"<%= Philographer.configuration.password %>","IntegratorKey":"<%= Philographer.configuration.integrator_key %>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 201
      message: Created
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\r\n  \"envelopeId\": \"41bfd426-689c-457e-af04-60e8f46ab622\",\r\n
        \ \"uri\": \"/envelopes/41bfd426-689c-457e-af04-60e8f46ab622\",\r\n  \"statusDateTime\":
        \"2013-05-13T19:41:31.1070000Z\",\r\n  \"status\": \"sent\"\r\n}"
  recorded_at: Mon, 13 May 2013 19:41:31 GMT
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/accounts/<%= Philographer.configuration.account_id %>/envelopes?from_date=2013-01-01&status=Completed
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Docusign-Authentication:
      - ! '{"Username":"<%= Philographer.configuration.username %>","Password":"<%= Philographer.configuration.password %>","IntegratorKey":"<%= Philographer.configuration.integrator_key %>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "{\r\n  \"resultSetSize\": \"4\",\r\n  \"totalSetSize\": \"4\",\r\n
        \ \"startPosition\": \"0\",\r\n  \"endPosition\": \"3\",\r\n  \"envelopes\":
        [\r\n    {\r\n      \"status\": \"completed\",\r\n      \"documentsUri\":
        \"/envelopes/46a0abf6-41e0-4d55-be64-829ac30ce57f/documents\",\r\n      \"recipientsUri\":
        \"/envelopes/46a0abf6-41e0-4d55-be64-829ac30ce57f/recipients\",\r\n      \"envelopeUri\":
        \"/envelopes/46a0abf6-41e0-4d55-be64-829ac30ce57f\",\r\n      \"envelopeId\":
        \"46a0abf6-41e0-4d55-be64-829ac30ce57f\",\r\n      \"customFieldsUri\": \"/envelopes/46a0abf6-41e0-4d55-be64-829ac30ce57f/custom_fields\",\r\n
        \     \"notificationUri\": \"/envelopes/46a0abf6-41e0-4d55-be64-829ac30ce57f/notification\",\r\n
        \     \"statusChangedDateTime\": \"2013-05-04T04:04:13.5170000Z\",\r\n      \"documentsCombinedUri\":
        \"/envelopes/46a0abf6-41e0-4d55-be64-829ac30ce57f/documents/combined\",\r\n
        \     \"certificateUri\": \"/envelopes/46a0abf6-41e0-4d55-be64-829ac30ce57f/documents/certificate\",\r\n
        \     \"templatesUri\": \"/envelopes/46a0abf6-41e0-4d55-be64-829ac30ce57f/templates\"\r\n
        \   },\r\n    {\r\n      \"status\": \"completed\",\r\n      \"documentsUri\":
        \"/envelopes/b7fc44ce-dad8-414c-b720-c1ba340d1e2b/documents\",\r\n      \"recipientsUri\":
        \"/envelopes/b7fc44ce-dad8-414c-b720-c1ba340d1e2b/recipients\",\r\n      \"envelopeUri\":
        \"/envelopes/b7fc44ce-dad8-414c-b720-c1ba340d1e2b\",\r\n      \"envelopeId\":
        \"b7fc44ce-dad8-414c-b720-c1ba340d1e2b\",\r\n      \"cu[...]
