---
http_interactions:
- request:
    method: get
    uri: https://demo.docusign.net/restapi/v2/login_information
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Docusign-Authentication:
      - ! '{"Username":"<%= Philographer.configuration.username %>","Password":"<%= Philographer.configuration.password %>","IntegratorKey":"<%= Philographer.configuration.integrator_key %>"}'
      Content-Type:
      - application/json
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! '{ "loginAccounts": [ { "name": "Some Company", "accountId": "1234",
        "baseUrl": "https://demo.docusign.net/restapi/v2/accounts/1234", "isDefault":
        "true", "userName": "Test User", "userId": "1215897a-cf21-4703-9b46-16c7900e7ae3",
        "email": "user@test.com", "siteDescription": "A really descriptive description"
        }, { "name": "Another Company", "accountId": "123456", "baseUrl": "https://demo.docusign.net/restapi/v2/accounts/123456",
        "isDefault": "true", "userName": "Test User", "userId": "08e35464-9ffb-444c-97d2-978bddef4445",
        "email": "user@test.com", "siteDescription": "A really descripitive description"
        } ] }'
  recorded_at: Tue, 07 May 2013 22:29:05 GMT
